{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 25, "knowledge_revision": 54, "git_revision": "84d712638705c430229c67a343f19142a0a76c8d", "hash": "68b78cfa44d2e6ff0ba83bc30092b58b", "format-version": 4, "code-base-name": "default", "filename": "resume_analyzer_backend_workspace/resume_analyzer_backend/requirements.txt", "revision_history": [{"54": "84d712638705c430229c67a343f19142a0a76c8d"}]}